extends layout

block content
  center
    h1= title
    a(href="https://photos.google.com/") Google Fotos
    br
    a(href="https://www.instagram.com/") Instagram
    br
    a(href="/videos") Ir para Videos
    br
    a(href="/") Ir para Home