extends layout

block content
  center
    h1= title
    a(href="https://www.youtube.com/") YouTube
    br
    a(href="https://vimeo.com/") Vimeo
    br
    a(href="/fotos") Ir para Fotos
    br
    a(href="/") Ir para Home